<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/person_2.jpg" alt="..." class="img-responsive">
      <div class="clearfix">
          <h3>The Red Girl </h3>
          <p>This book is donated by Andrew </p>
          <p><a href="#" class="btn btn-primary" role="button">Ask</a>
             <a href="#" class="btn btn-danger pull-right" role="button">Remove</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/Lena_Headey.jpg" alt="..." class="img-responsive">
      <div class="clearfix">
          <h3>The Red Girl </h3>
          <p>This book is donated by Andrew </p>
          <p><a href="#" class="btn btn-primary" role="button">Ask</a>
             <a href="#" class="btn btn-danger pull-right" role="button">Remove</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/12a.jpg" alt="..." class="img-responsive">
      <div class="clearfix">
          <h3>The Red Girl </h3>
          <p>This book is donated by Andrew </p>
          <p><a href="#" class="btn btn-primary" role="button">Ask</a>
             <a href="#" class="btn btn-danger pull-right" role="button">Remove</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/Natalie _Dormer.jpg" alt="..." class="img-responsive">
      <div class="clearfix">
          <h3>The Red Girl </h3>
          <p>This book is donated by Andrew </p>
          <p><a href="#" class="btn btn-primary" role="button">Ask</a>
             <a href="#" class="btn btn-danger pull-right" role="button">Remove</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/sansa.jpg" alt="..." class="img-responsive">
      <div class="clearfix">
          <h3>The Red Girl </h3>
          <p>This book is donated by Andrew </p>
          <p><a href="#" class="btn btn-primary" role="button">Ask</a>
             <a href="#" class="btn btn-danger pull-right" role="button">Remove</a>
          </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/supernatural.jpg" alt="..." class="img-responsive">
      <div class="clearfix">
          <h3>The Red Girl </h3>
          <p>This book is donated by Andrew </p>
          <p><a href="#" class="btn btn-primary pull-left" role="button">Ask</a>
             <a href="#" class="btn btn-danger pull-right" role="button">Remove</a>
          </p>
      </div>
    </div>
  </div>
</div>

<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<nav>
  <ul class="pager">
    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
